.header {
    text-transform: none;
    font-family: 'Helvetica Neue', 'Arial';
    font-weight: 300;
}

.header > b {
    font-weight: 500;
}


textarea.form-control {
    height: 315px;
}

.progress-bar-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    -o-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}